@import './variables.scss';

.container {
    display: flex;
    flex-direction: column;
    padding: $pad-desktop;

    .about_section {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        gap: 4vw;

        .picture_container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
            
            padding-right: calc(2* $fs-med);
            max-height: 60%;
            max-width: 20%;
    
            img {
                object-fit: cover;
                min-width: 220%;
            }
        }

        .bio {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                font-family: Neue45Light;
                font-size: $fs-med;
                letter-spacing: calc($ls-normal * $fs-med);
                margin-bottom: 2em;
                max-width: 30ch;
            }
            
        }

        &:last-child {
            .picture_container {
                align-items: center;
            }
        }
    }
    
}