@import './variables.scss';

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: calc(3 * $fs-med);
    margin: 0 $pad-desktop;

    h1 {
        font-size: $fs-huge;
        font-family: Neue55Roman;
        letter-spacing: calc($fs-huge * $ls-normal);
        font-weight: 300;
        margin-top: .6em;
    }

    .links_container {
        display: flex;
        flex-direction: column;
        font-size: $fs-vbig;
        letter-spacing: calc($fs-vbig * $ls-normal);
        font-weight: 300;
        justify-content: center;
        height: 100%;

        .link_item {
            display: grid;
            grid-template-columns: 30% 70%;
            margin-bottom: .8em;

            a {
                width: max-content;
                
                .link {
                    display: flex;
                    align-items: center;
    
                    img {
                        margin-right: .2em;
                        height: calc($fs-vbig * 0.8);
                    }
    
                    div {
                        border-bottom: .06em solid #0A0903;
                    }
                }
            }
            
        }
    }
}

@media (max-width: 600px) {
    .container {

        h1 {
            margin-top: 1.6em;
        }

        .links_container {
            gap: $fs-huge;
            justify-content: flex-start;
            margin-top: $fs-huge;
            .link_item {
                grid-template-columns: 1fr;
                gap: 1em;
                a {
                    .link {
                        font-size: $fs-vbig;
                        letter-spacing: calc($fs-vbig * $ls-normal);
                        img {
                            height: calc($fs-vbig * 0.8);
                        }
                    }
                }

                .at {
                    font-size: $fs-big;
                    letter-spacing: calc($fs-big * $ls-normal);
                }
            }
        }
    }
}