@import './variables.scss';

.container {
    scroll-snap-align: start;
    height: 100vh;

    .background {
        background-color: #0A0903;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            color: white;
            font-family: Neue45Light;
            font-size: $fs-vbig;
            letter-spacing: calc($fs-vbig * $ls-normal);
            font-weight: 300;
            max-width: 14em;
            text-align: center;
            margin-top: 6em;
        }
    }
}
