@import './variables.scss';

.container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: black;
    padding: $pad-desktop;
    opacity: 0;
    transition: backdrop-filter .2s ease-in-out, opacity .2s;

    .close_menu {
        display: flex;
        justify-content: flex-end;
        height: $fs-med;
    }

    .nav_list {
        font-family: Neue45Light;
        font-size: $fs-huge;
        display: flex;
        flex-direction: column;
        height: 100%;

        li {
            margin-top: .4em;
        }
    }
}

.load_animation {
    opacity: 1;
    backdrop-filter: blur(30px);
}


