@import './variables.scss';

.container {
    width: 100vw;
    
    .scroll_container {
        scroll-snap-type: y proximity;
    .logo_container {
        scroll-snap-align: start;
        height: 100vh;
        display: grid;
        grid-template-rows: 85% 15%;
        place-items: center;
        padding: 0 15vw;

        img:nth-child(1) {
            width: 100%;
            animation: appear cubic-bezier(0.76, 0.05, 0.34, 0.95) 800ms;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        img:nth-child(2) {
            width: 5vw;
            animation: appearArrow ease-in-out 1.2s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            animation-delay: 1.2s;
            opacity: 0;
        }
    }

    .mockup1_container {
        background-color: #0A0903;
        height: 150vh;
        width: 100vw;
        display: grid;
        place-items: center;

        .mockup1 {
            transform: translateX(7%);

            img {
                width: 100%;
            }
        }
    }

    .information {
        // scroll-snap-align: start;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        padding: 6em 10vw;

        .description {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: $fs-med;
            font-family: Neue45Light;
            letter-spacing: calc($fs-med * $ls-normal);

            p {
                max-width: 38ch;
                margin-bottom: 1.6em;
                line-height: 1.25em;

                img {
                    height: calc($fs-med * 0.8);
                    margin-right: .2em;
                }

                span {
                    text-decoration: underline;
                    text-underline-offset: .3em;
                    white-space: nowrap;
                }
            }
        }

        .mockup_container {
            display: grid;
            place-items: center;
            grid-column: 4 / 7;
            grid-row: 1 / 2;
            width: 40vw; 

            img {
                width: 100%;
            }
        }
    }

    .links {
        height: 40vh;
        display: grid;
        place-items: center;

        .links_container {
            display: flex;
            width: 50%;
            justify-content: space-around;
            font-size: $fs-vbig;
            font-family: Neue45Light;
            text-underline-offset: .2em;

            a > div {
                display: flex;
                align-items: center;
            }

            img {
                height: calc($fs-vbig * 0.9);
                margin-right: .2em;
            }

            span {
                border-bottom: .06em solid #0A0903;
            }
        }
    }
    }
    
}

@keyframes appear {
    0% {
        transform: translate(0px, 50px);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    100% {
        transform: translate(0px, 0px);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
     }
}

@keyframes appearArrow {
    0%, 100% {
        opacity: 1;
        transform:translate(0px, 0px);
    }

    50% {
        opacity: 1;
        transform:translate(0px, 30px);
    }
}