@import './variables.scss';

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: $pad-2;

    .nav_list {
        display: flex;
        justify-content: space-between;
        grid-column: 2/ 4;
    
        li {
            font-family: Neue65Medium;
            font-size: $fs-big;
            letter-spacing: calc($fs-big * $ls-normal);
            color:rgba(10, 9, 3, 0.4);
        }
    
        .active {
            color: #0A0903;
        }
    }
}
