@import './variables.scss';

.container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 1.6em;
    height: 10vh;
    width: 100%;
    mix-blend-mode: multiply;
    z-index: 2;
    

    .nav_list {
        display: flex;
        justify-content: flex-end;
        grid-column: 2/ 4;
    
        li {
            font-family: Neue65Medium;
            font-size: $fs-big;
            letter-spacing: calc($fs-big * $ls-normal);
            color:rgba(10, 9, 3, 0.4);
            margin-left: 2em;
            mix-blend-mode: difference;
        }
    
        .active {
            color: #0A0903;
        }
    }
}
