@import './variables.scss';

.container {
    padding: $pad-top $pad-desktop $pad-desktop $pad-desktop;
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    gap: 5%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

    .project_container {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1em;

        .image_container {
            background-color: #D9D9D9;
            height: calc(100vh - ($fs-med * 10));
            overflow: hidden;
            padding: 2em;
            max-width: 100%;
            height: max-content;
        }

        .multitrack {
            * {
                transform: translateX(3%);
            }
        }

        .project_name {
            margin-top: 1rem;
            font-family: Neue45Light;
            font-size: $fs-med;
            letter-spacing: calc($fs-med * $ls-normal);
            font-weight: 100;
        }
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;

        .project_container {
            margin-bottom: $fs-med;
            .image_container {
            }
        }
    }
}