@import './variables.scss';

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: calc(2*$fs-huge);
    margin-bottom: calc(2*$fs-huge);

    .links_container {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: $fs-huge;
        font-size: $fs-vbig;
        font-family: Neue45Light;
        text-underline-offset: .2em;
        padding-bottom: 1em;

        a > div {
            display: flex;
            align-items: center;

            img {
                height: calc($fs-vbig * 0.9);
                margin-right: .2em;
            }
    
            span {
                border-bottom: .06em solid #0A0903;
            }
        }

        
    }
}