@import './variables.scss';

.container {
    padding: $pad-top $pad-desktop $pad-desktop $pad-desktop;
    display: grid;
    grid-template-columns: repeat(2, 47.5%);
    gap: 5%;
    background-color: rgb(255, 255, 255);
    margin-bottom: calc(2*$fs-huge);

    .project_container {
        display: flex;
        flex-direction: column;
        // margin-bottom: 1em;

        .image_container {
            background-color: #D9D9D9;
            overflow: hidden;
            padding: 2em;
            max-width: 100%;
            height: max-content;
            aspect-ratio: 1/1;
        }

        .multitrack {
            * {
                transform: translateX(3%);
            }
        }

        .project_name {
            margin-top: 1rem;
            font-family: Neue45Light;
            font-size: $fs-med;
            letter-spacing: calc($fs-med * $ls-normal);
            font-weight: 100;
        }

        .fontwebsite {
            display: grid;
            place-items: center;
            height: 100%;
            .word {
                font-family: 'Roboto Flex'; 
                font-size: calc(2*$fs-huge);
                text-align: center;
            }
        }
        
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        height: 100%;
        padding-bottom: calc(2*$fs-huge);

        .project_container {
            margin-bottom: $fs-med;
            .image_container {
            }
        }
    }
}