@import './variables.scss';

.container {
    padding: $pad-desktop;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $pad-desktop;

    .project_container {
        display: flex;
        flex-direction: column;

        .image_container {
            background-color: #D9D9D9;
            height: calc(100vh - ($fs-med * 6));
            margin-top: calc($fs-med * 2);
            display: grid;
            place-items: center;
        }

        .multitrack {
            img {
                margin-left: 5vw;
                max-width: 100%;
            }
        }
    
        .riderrotation {
            img {
                max-width: 90%;
            }
        }

        a {
            font-family: Neue45Light;
            font-size: $fs-med;
            letter-spacing: calc($fs-med * $ls-normal);
            margin-top: 1em;
            font-weight: 100;

            &:hover {
                text-decoration: underline;
                text-underline-offset: .3em;
            }
        }
    
        
    }
}