@font-face {
    font-family: Neue65Medium;
    src: url(../fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: Neue55Roman;
    src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: Neue45Light;
    src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: Neue35Thin;
    src: url(../fonts/NeueHaasDisplayThin.ttf);
}

$fs-huge: clamp(2.3rem, 8vw, 20rem);
$fs-vbig: clamp(1.8rem, 4vw, 8rem);
$fs-big: clamp(1.4rem, 2.4vw, 4rem);
$fs-med: clamp(1.2rem, 2vw, 3rem);
$fs-small: clamp(1rem, 1.2vw, 1.8rem);
$fs-vsmall: clamp(.8rem, 1vw, 1.4rem);

$pad-desktop: $fs-med;
$pad-top: calc($fs-med * 4);
$pad-2: 2em;

$ls-normal: 0.045; 

$doc-height: 100%;

:export {
    docHeight: $doc-height;
}



