@font-face {
    font-family: Neue65Medium;
    src: url(../fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: Neue55Roman;
    src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

@font-face {
    font-family: Neue45Light;
    src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: Neue35Thin;
    src: url(../fonts/NeueHaasDisplayThin.ttf);
}

$fs-huge: clamp(2rem, 8vw, 6rem);
$fs-vbig: clamp(1.2rem, 4vw, 5rem);
$fs-big: clamp(1.2rem, 2.4vw, 2.5rem);
$fs-med: clamp(1.2rem, 2vw, 2rem);
$fs-small: clamp(1rem, 1.2vw, 1.8rem);

$pad-desktop: 2vw;
$pad-2: 2em;

$ls-normal: 0.045; 